{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="" content="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    <!-- Bootstrap CSS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>Boutique ado {% block extratitle %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top"></header>
      <div class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0">Med Shop</h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action-"{%url 'product' %}">
            <div class="input-group w-100">
              <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search For Stock">
              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
            </div>
          </div>
        </form>
      </div> 
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <a href="{% url 'profile' %}" class='dropdown-item'>Product Management</a>
                {% endif %}
              {% else %}
                <a href="{% url 'profile' %}" class="dropdown-items">Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-items">Sign Out</a>
              {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-items">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-items">Sign in</a>
              {% endif %}
            </div>
          </li>
          
        </ul>
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  </body>
</html>